.visualizacao-semana {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
  }
  
  .celula-dia-semana {
    border: 1px solid #ddd;
    min-height: 120px;
    padding: 10px;
    position: relative;
  }
  
  .celula-dia-semana.hoje {
    background-color: var(--azulPrincipal);
    color: #fff;
  }
  
  .celula-dia-semana .data-celula {
    font-weight: bold;
  }
  
  .celula-dia-semana .lista-agendamentos {
    margin-top: 5px;
  }
  
  .celula-dia-semana .agendamento {
    margin-bottom: 5px;
    cursor: pointer;
  }
  
  .celula-dia-semana .agendamento:hover {
    background-color: #f0f0f0;
  }