.HeaderLogin {
    background-color: var(--azulPrincipal);
    display: flex;
    align-items: center;
    justify-content: center; 
    position: relative; 
    padding-top: 25px;
}

.HeaderLogin-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; 
}

.HeaderLogin-icon {
    display: flex;
    align-items: center;
    color: white;
    position: absolute; 
    right: 80px; 
}

.HeaderLogin-icon__text {
    font-weight: bold;
    font-size: var(--20px);
    margin-left: 3px;
}
