.HeaderLogin {
    background-color: var(--azulPrincipal);
    display: flex;
    align-items: center;
    justify-content: center; /* Centraliza o conteúdo por padrão */
    position: relative; /* Para posicionar o ícone à direita */
    padding-top: 25px;
}

.HeaderLogin-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-grow: 1; /* O logo ocupa o centro */
}

.HeaderLogin-icon {
    display: flex;
    align-items: center;
    color: white;
    position: absolute; /* Posiciona o ícone de login sobreposto à direita */
    right: 80px; /* Ajuste o espaço para o alinhamento à direita */
}

.HeaderLogin-icon__text {
    font-weight: bold;
    font-size: var(--20px);
    margin-left: 3px;
}
