.main-container {
  display: flex;
  height: calc(
    100vh - 60px
  ); /* Altura total menos a altura do header (ajuste conforme necessário) */
}

.calendar-container {
  flex-grow: 1; /* Permite que o contêiner do calendário ocupe o espaço restante */
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
}
