/* Estilos para o layout do aplicativo */
.layout-aplicativo {
  display: flex;
}

.conteudo {
  margin-left: 250px; /* Desloca o conteúdo para a direita, levando em conta a largura da barra lateral */
  padding: 20px;
  width: 100%;
}
