.calendario {
  width: 100%;
  max-width: 1200px;
  background-color: #ffffff;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 10px;
  max-height: 770px;
}

.container-cabecalho-calendario {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Para suportar layouts mais compactos */
}

@media (max-width: 768px) {
  .calendario {
    padding: 10px;
  }
}
