.dia-semana-calendario {
    padding: 10px;
}

.corpo-calendario {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: repeat(5, 1fr);
    /* Garante 5 linhas */
    flex-grow: 1;
}