/* CalendarCell.css */
.calendar-cell {
  border: 1px solid #ddd;
  min-height: 100px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.calendar-cell.outside-month {
  background-color: #f9f9f9;
  color: #ccc;
}

.calendar-cell.today {
  background-color: var(--azulPrincipal);
  color: #fff;
}

.cell-date {
  font-weight: bold;
  margin-bottom: 5px;
}

.appointments-list {
  max-height: 80px;
  overflow-y: auto;
}

.appointment {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 3px;
  cursor: pointer;
}

.appointment-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.appointment-description {
  font-size: 14px;
}

.appointment.warning .appointment-dot {
  background-color: #f39c12;
}

.appointment.info .appointment-dot {
  background-color: #2196f3;
}

.appointment.success .appointment-dot {
  background-color: #2ecc71;
}

.appointment:hover {
  background-color: #f0f0f0;
  color: #000;
}
