/* CelulaCalendario.css */
.celula-calendario {
  border: 1px solid #ddd;
  min-height: 100px;
  padding: 10px;
  cursor: pointer;
  position: relative;
}

.celula-calendario:hover {
  background-color: var(--azulPrincipal);
  color: white;
  border: 1px solid black;
}

.celula-calendario.fora-mes {
  background-color: #f9f9f9;
  color: #ccc;
}

.celula-calendario.hoje {
  background-color: var(--azulPrincipal);
  color: #fff;
}

.data-celula {
  font-weight: bold;
  margin-bottom: 5px;
}

.lista-agendamentos {
  max-height: 80px;
  overflow-y: auto;
}

.agendamento {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 3px;
  cursor: pointer;
}

.ponto-agendamento {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 8px;
}

.descricao-agendamento {
  font-size: 14px;
}

.warning .ponto-agendamento {
  background-color: #f39c12;
}

.agendado .ponto-agendamento {
  background-color: green;
}

.error .ponto-agendamento {
  background-color: red;
}

.agendamento:hover {
  background-color: #f0f0f0;
  color: #000;
  border-radius: 5px;
}

.celula-dia-semana {
  border: 1px solid #ddd;
  min-height: 120px;
  padding: 10px;
  position: relative;
}

.celula-dia-semana.hoje {
  background-color: var(--azulPrincipal);
  color: #fff;
}

.celula-dia-semana .data-celula {
  font-weight: bold;
}

.celula-dia-semana .lista-agendamentos {
  margin-top: 5px;
}

.celula-dia-semana .agendamento {
  margin-bottom: 5px;
  cursor: pointer;
}

.celula-dia-semana .agendamento:hover {
  background-color: #f0f0f0;
}